<!DOCTYPE html>
<html>
<head>
    <title>Campus Placement Management System</title>
</head>
<body>

<h1>Campus Placement Management System</h1>

<form action="/placement">

    Register Number:
    <input type="text" name="regno"><br><br>

    Student Name:
    <input type="text" name="name"><br><br>

    CGPA:
    <input type="number" step="0.01" name="cgpa"><br><br>

    Skills:
    <input type="text" name="skills"><br><br>

    Number of Backlogs:
    <input type="number" name="backlogs"><br><br>

    <input type="submit" value="Check Placement Eligibility">

</form>

</body>
</html>
